<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my.mamer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterPhoneNumActivity" />
        <activity android:name=".RegisterPicCode" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".TestActivity">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserHomePageActivity" />
        <activity android:name=".UserEditorInformationActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.my.mamer.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".BottomNavigationBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicsNewTopicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".UserSelfTopicListActivity" />
        <activity android:name=".TopicParticularsActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".TopicReplyPublishActivity" />
        <activity android:name=".UserSelfReplyActivity" />
        <activity android:name=".ShowReplyUserActivity" />
        <activity
            android:name=".TopicActivity"
            android:label="@string/title_activity_topic_particulars_test"
            android:theme="@style/AppTheme">

             <!--<intent-filter> -->
             <!--<action android:name="android.intent.action.MAIN" /> -->
             <!--<category android:name="android.intent.category.LAUNCHER" /> -->
             <!--</intent-filter> -->
        </activity>
        <activity android:name=".TopicReplyListActivity"></activity>
    </application>

</manifest>